nav {
  align-items: center;;
  display: flex;
  border: 1px solid gray;
  width: 90%;
  margin: 0 auto;
}
.logo {
  border: 1px solid gray;
  height: 70px;
  text-align: center;
  width: 80px;
}
.menu{
  display: flex;
  list-style: none;
}
.menu__item {
  text-align: center;
  background-color: black;
  border: 1px white;
  color: white;
  height: 30px;
  margin: 0 15px;
  width: 110px;
}